<!-- Content Wrapper. Contains page content -->
{% extends 'admin_base.html'%} {% block content %}

<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Admitted Patients</h1>
                    </div>

                </div>
            </div>
            <!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">

                    <!-- /.col -->
                    <div class="col-md-12">

                        <!-- /.card -->

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Patients</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Prfile Picture</th>
                                            <th>Address</th>
                                            <th>Mobile</th>
                                            <th>Assign Doctor</th>
                                            <th>Symptoms</th>
                                            <th>Admit Date</th>
                                            <th>Update</th>
                                            <th>Delete</th>


                                        </tr>
                                    </thead>
                                    <tbody>{% for ap in admitted_patients %}
                                        <tr>
                                            <td>{{ap.get_id}}</td>
                                            <td>{{ap.get_name}}</td>
                                            <td>
                                                <img src="/profile_pic/{{ap.profile_pic}}" alt="Profile Image" height="40px" width="40px">
                                            </td>
                                            <td>{{ap.address}}</td>
                                            <td>{{ap.mobile}}</td>
                                            <td>{{ap.assignedDoctorname}}</td>
                                            <td>{{ap.symptoms}}</td>
                                            <td>{{ap.admitDate}}</td>
                                            <td><a class="btn btn-primary btn-xs" href="{% url 'admin_update_patients' ap.id  %}"><span class="glyphicon glyphicon-edit"></span></a></td>
                                            <td><a class="btn btn-danger btn-xs" href="{% url 'admin_delete_approved_patient' ap.id %}"><span class="glyphicon glyphicon-log-out"></span></a></td>
                                        </tr>
                                        {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <!-- /.row -->

                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</body> {% endblock content %}