<!-- Content Wrapper. Contains page content -->
{% extends 'admin_base.html'%} {% block content %}

<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Pending Appoitments</h1>
                    </div>

                </div>
            </div>
            <!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">

                    <!-- /.col -->
                    <div class="col-md-12">

                        <!-- /.card -->

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Pending Appointments</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>

                                            <th>Patient Name</th>
                                            <th>DoctorName</th>
                                            <th>Appointment Date</th>
                                            <th>Appointment Time</th>
                                            <th>Description</th>
                                            <th>Approved</th>
                                            <th>Delete</th>


                                        </tr>
                                    </thead>
                                    <tbody>{% for a in appointments %}
                                        <tr>

                                            <td>
                                                {{a.patientName}}
                                            </td>
                                            <td>{{a.doctorName}}</td>
                                            <td>{{a.appointmentDate}}</td>
                                            <td>{{a.appointmenttime}}</td>
                                            <td>{{a.description}}</td>
                                            <td><a class="btn btn-primary btn-xs" href="{% url 'admin_approved_the_pending_appointments' a.id  %}"><span class="glyphicon glyphicon-ok"></span></a></td>
                                            <td><a class="btn btn-danger btn-xs" href="{% url 'admin_delete_pending_appointments' a.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>
                                        </tr>
                                        {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <!-- /.row -->

                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</body> {% endblock content %}