{% extends "doctor_base.html"%} {% block content %}

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">Doctor Dashboard</h1>
                        </div>
                        <!-- /.col -->

                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-lg-6 col-6">
                            <!-- small box -->
                            <div class="small-box bg-info">
                                <div class="inner">
                                    <h3>{{appointmentscount}}</h3>

                                    <p>Appointments</p>

                                </div>


                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-6 col-6">
                            <!-- small box -->
                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h3>{{patientscount}}</h3>

                                    <p>Patients Under You</p>

                                </div>


                            </div>
                        </div>
                        <!-- ./col -->

                        <!-- ./col -->

                        <!-- ./col -->
                    </div>
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h1>Appointment Details</h1>
                                </div>

                            </div>
                        </div>
                        <!-- /.container-fluid -->
                    </section>

                    <section class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Appointments</h3>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>patientId</th>
                                                        <th>Picture</th>
                                                        <th>patientName</th>
                                                        <th>appointmentDate</th>
                                                        <th>address</th>
                                                        <th>appointmenttime</th>
                                                        <th>mobile</th>
                                                        <th>symptoms</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for a,p in combine_appointment_patient %}
                                                    <tr>
                                                        <td>{{a.patientId}}</td>
                                                        <td><img src="/profile_pic/{{p.profile_pic}}" alt="" height="40px" width="40px"></td>
                                                        <td>{{a.patientName}}</td>
                                                        <td>
                                                            {{a.appointmentDate}}
                                                        </td>
                                                        <td>
                                                            {{p.address}}
                                                        </td>
                                                        <td>
                                                            {{a.appointmenttime}}
                                                        </td>
                                                        <td>
                                                            {{p.mobile}}
                                                        </td>
                                                        <td>
                                                            {{p.symptoms}}
                                                        </td>


                                                    </tr>
                                                    {% endfor %}



                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.card-body -->

                                    </div>
                                    <!-- /.card -->


                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->

                                <!-- /.col -->
                            </div>
                            <!-- /.row -->

                            <!-- /.row -->

                            <!-- /.row -->
                        </div>
                        <!-- /.container-fluid -->
                    </section>

</body>{% endblock content %}