<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Non Authenticated User</title>
</head>

<body>
    <h1>You must create your</h1>
    <h2>Are you Doctor or Patient or Admin</h2>
    <a href="{% url 'patient_sign_up' %}">Patient Sign Up</a>
    <a href="{% url 'doctor_sign_up' %}">Doctor Sign up</a>
    <a href="{% url 'admin_sign_up' %}">Admin Sign Up</a>
</body>

</html>